body{
    background-image: url('img/fondo.jfif');
    height: 200;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    background-image: url('img/header.jfif');
    border-top-left-radius: 10px;  
    border-top-right-radius: 20px;  
    border-bottom-right-radius: 30px; 
    border-bottom-left-radius: 40px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    height: 60px;
    display: flex;
    justify-content: center; 
}

#main_content{
    display: flex;
    justify-content: center;
}

.subtitle{
    background-image: url('img/header.jfif');
    background-position-x: center;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-top-left-radius: 20px;  
    border-top-right-radius: 20px;  
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pc_image{
    padding: 15px;
    margin: 37px;
    height: 130px;
}

.carousel {
    background-color: rgb(41, 16, 65, 0.6);
    background-size: 600px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px;
    padding-top: 10px;
    margin: 20px;
    width: 80%;
    max-width: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
.carousel-track{
    height: 100px;
    display: inline-block; /* Asegúrate de que las imágenes estén en línea */
    animation: scroll 10s linear infinite;
}
.carousel-track:nth-child(1) {
    animation-delay: 0s;
}
.carousel-track:nth-child(2) {
    animation-delay: 2s; 
}
.carousel-track:nth-child(3) {
    animation-delay: 4s; 
}
.carousel-track:nth-child(4) {
    animation-delay: 6s; 
}
.carousel-track:nth-child(5) {
    animation-delay: 8s; 
}
.carousel-track:nth-child(6) {
    animation-delay: 10s; 
}

#one_sec{
    background-color: rgb(41, 16, 65, 0.6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#first_footer{
    margin: 10px;
    padding: 5px;
    background-color: rgb(41, 16, 65, 0.6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#second_footer{
    margin-left: 23px;
}

.send_button{
    background-image: url('img/button.jfif');
    color: white;
    transition: box-shadow 0.3s ease;
}
.send_button:hover {
    box-shadow: 0 0 25px 7px #7f00d3;
}

.link{
    color: rgb(67, 233, 255);
}

.text{
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

hr{
    border-color: rgb(29, 7, 63);
}